#canvas {
  border: 1px solid #333;
  background-image: url("https://cdn.glitch.com/b0a623c1-b66f-42a5-8c93-9efc6083844e%2Fbackground-06.jpg?v=1566419649824");
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
}
#canvasWrapper {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 900px;
  height: 600px;
}

#canvasSettings {
  position: absolute;
  padding: 40px;
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
  background-color: rgba(7, 61, 63, 0.76);
  display: none;
  /* display: block; */
}
